body,
html {
    width: 100%;
    overflow-x: hidden;
}

body,
html,
#login,
body.wu-setup {
    background-color: #333;
}

#login {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h1 {
    width: 90%;
    max-width: 320px;
    position: relative;
    margin: 0 auto;
}

.login h1 a {
    margin-bottom: 0;
	background-size: contain;
	height: 84px;
	width: 100%;
}

#loginform {
    max-width: 320px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

#signupform {
    margin: 0;
    padding: 0;
}

.wu-setup-content.wu-content-template {
    width: 75%;
}

.themes {
    display: grid;
    clear: both;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.theme-browser .theme {
    width: 100%;
    margin: none;
    padding: none;
    border: none;
}
.theme-browser .theme .theme-name {
    text-align: left;
    background-color: #fff;
}

.theme-browser .theme .theme-actions,
.theme-browser .theme.active .theme-actions {
    top: unset;
    bottom: 0;
    transform: none;
}

.wu-plans-frequency-selector {
    background-color: #dedede;
}

.wu-plans-frequency-selector li a {
    margin: 0;
}

.wu-plans-frequency-selector li a.active {
    background-color: #d64b26;
}

.wu-content-plan .plan-tier {
    border-radius: 10px;
}

.plan-tier.callout h4 {
    border-bottom: 1px solid #c54523;
}

.wu-content-plan.wu-content-plan p {
    margin-top: 1em !important;
}

.rain {
    width: 200px;
    height: auto;
    display: block;
    position: absolute;
}

#blogname-field .dashicons {
    width: inherit;
}

#blogname-field .dashicons-editor-help:after {
    content: "Enter your domain without the .com or .net";
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.theme-browser .theme:focus .theme-screenshot,
.theme-browser .theme:hover .theme-screenshot {
    background: none;
}
